<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">
	<resultMap id="BoardMap" type="Board">
		<id property="bId" column="b_id" />
		<result property="bTitle" column="b_title"/>
		<result property="bContent" column="b_content"/>
		<result property= "bWriter" column="b_writer"/>
		<result property= "bDateTime" column="b_datetime"/>
		<result property= "bViews" column= "b_biews"/>
		<association property="user" resultMap="UserMap" />
	</resultMap>
	
	<resultMap type="User" id="UserMap">
		<id property="username" column="u_id" />
		<result property="password" column="u_password"/>
		<result property="uName" column="u_name"/>
		<result property="uDateTime" column="u_datetime"/>
	</resultMap>

    <select id="selectBoardList" resultType="Board">
        SELECT         b_id as bId,
        b_title as bTitle,
        b_content as bContent,
        b_writer as bWriter
        FROM            lc_board
    </select>
    
    <insert id="createBoard" parameterType="Board">
    	INSERT		INTO	lc_board(
			b_id, 
			b_title,
			b_content, 
			b_writer
			
    	)VALUES(
    		#{bId},
    		#{bTItle},
    		#{bContent},
    		#{bWriter}
    </insert>
    
    <select id="readBoard" resultMap="BoardMap" parameterType="int">
			SELECT 		*
			FROM 		lc_board	ta
			LEFT JOIN   lc_user		tb
			ON			ta.b_id = tb.u_id
			WHERE		b_id = #{bId}  		
    </select>
    
    <insert id="updateBoard" parameterType="Board">
    	UPDATE		lc_board
    	SET			b_title = #{bTitle},
    				b_content = #{bContent}
    				
    	WHERE 		1=1
    	AND			b_id = #{bId}
    </insert>
    
    <delete id="deleteBoard" parameterType="int">
    	DELETE		
    	FROM		lc_board
    	WHERE		b_id = #{bId}
    </delete>
    
    <select id="getAllBoards" resultMap="BoardMap" parameterType="Pagination">
   		SELECT		@ROWNUM := @ROWNUM -1 AS ROWNUM,	ta.*
   		FROM		lc_board  ta
   		INNER JOIN 	(SELECT @ROWNUM := (SELECT COUNT(*)-#{pageNum}+1  FROM 	lc_board ta)) tb ON 1=1
   		
    	<where>
    		<if test="search.category != null and !search.category.isEmpty()">
    			<if test = "search.keyword != null and !search.keyword.isEmpty()">
    				<if test= "search.category == 1">
    					AND b_title LIKE CONCAT('%', #{search.keyword}, '%')	
    				</if>
    				<if test = "search.category == 2">
    					AND b_content LIKE CONCAT('%', #{search.keyword}, '%')
    				</if>
    			</if>
    		</if>
    	</where>
    	
    	LIMIT		#{pageNum}, #{perPage}
    	
    		
    	
    </select>
    
    <update id="increaseViews" parameterType="Board">
    	UPDATE		lc_board
    	SET			b_views = b_views+1 
    	WHERE		b_id = #{bId}
    </update>
    
    
    
    <select id="getboardsCount" parameterType="Pagination">
		SELECT 	COUNT(*)
		FROM	lc_board
		
		<where>
			<if test="search.category != null and !search.category.isEmpty()">
				<if test ="search.keyword != null and !search.keyword.isEmpty()">
					
					<if test= "search.category == 1">
						b_title LIKE CONCAT('%', #{search.keyword}, '%')
					</if>
					<if test = "search.category == 2">
						b_title LIKE CONCAT('%', #{search.keyword}, '%')
					</if>
				</if>
			</if>
		</where>
	</select>
	
	<select id="getUsers" parameterType="Pagination">
		SELECT * FROM lc_user
	</select>
</mapper>